@import url(https://fonts.googleapis.com/css?family=Roboto:300);
#conteneur
{
    display: flex;
    flex-direction: wrap;
	 justify-content: space-around;
	 align-items: center;

}
#stripe
{
  display: flex;
  flex-direction: column;
 justify-content: space-around;
 align-items: center;
}
#conteneur-register
{
    display: flex;
    flex-direction: wrap;
	 justify-content: space-around;
   align-items: center;
   padding-top: 42%;

}
#conteneur2
{
    display: flex;
    flex-direction: column;
	 justify-content: space-around;
	 align-items: inline-block;
}
#conteneur-info
{
    display: flex;
    flex-direction: column;
	 justify-content: space-around;
	 align-items: center;
}
#conteneur-nouveau-voyage
{
    display: flex;
    flex-direction: column;
	 justify-content: space-around;
	 align-items: center;
}
#header-container
{
    display: flex;
    flex-direction: wrap;
	 justify-content: space-between;
	 align-items: center;
	  padding-bottom:30px;
}
.element
{
    margin: auto;
    padding-top: 20%;
}

#titre 
{
    display: flex;
    flex-direction: wrap;
	 justify-content: space-around;
	 align-items: center;
	     padding-bottom: 30px;
    padding-top: 20px;
    position: absolute; /* postulat de départ */
  right: 50%; left: 50%; /* à 50%/50% du parent référent */
  top: 5%;
	
}
#titre2
{

  /* Style for "Pérou : 14" */
width: 217px;
height: 22px;
color: #009fc2;
font-family: Poppins;
font-size: 15px;
font-weight: 400;
text-align: center;
}
#titre3
{

  /* Style for "Pérou : 14" */
/* Style for "Pour ce vo" */
width: 219px;
height: 24px;
color: #009fc2;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
}
#FormAuthentification
{
    display: flex;
    flex-direction: column;
	justify-content: space-around;
	 align-items: center;
}
h1
{
	/* Style for "Ma santé" */
/* Style for "Urgences :" */
width: 116px;
height: 30px;
color: rgba(0, 0, 0, 0.6);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
letter-spacing: 0.19px;
}

.element h1{/* Style for "Travel kit" */
  width: 240px;
  height: 75px;
  color: #ffffff;
  font-family: Poppins;
 /* font-size: 50px;
  font-weight: 700;*/}
h2
{
	/* Style for "Travel kit" */
width: 251px;
height: 34px;
color: #009fc2;
font-family: Poppins;
font-size: 20px;
font-weight: 700;
text-align:center;
}

.check{
  border: none;
  width: 80px; /* largeur à spécifier */
  height: 80px; /* longueur à spécifier */
  cursor: pointer;  
}
#voyage {
	/* Style for "Rectangle" */
width: 298px;
height: 71px;
border-radius: 30px;
border: 1px solid #707070;
background-color: #ffffff;
text-decoration-color: #009fc2;
font-family: Poppins;
font-size: 25px;
font-weight: 700;
}
#nouveau-voyage {
	/* Style for "Rectangle" */
/* Style for "Rectangle" */
width: 319px;
height: 60px;
border-radius: 30px;
border: 1px solid #707070;
background-color: #ffffff;
text-decoration: #009fc2;
font-family: Poppins;
font-size: 25px;
font-weight: 700;
    margin-bottom: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.bouton-1 button 
{
  background-image: url('../img/Fondbleu.png');
  border: none;
  color: white;
  padding: -10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  border-radius: 50%;
  
}
@media all and (max-width:30em)
{
.bouton-1 button
{
display:block;
margin:0.2em auto;
}
}
.login-page {
	display: flex;
	flex-direction: column;
	 justify-content: space-around;
	 align-items: center;

  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  
}
.sante-page 
{
	/* Style for "Background" */
background-color: #ffffff;
 padding: 8% 0 0;
margin: auto;
  margin-top:30px;
  padding-top: 78px;
  padding-bottom: 20px;
  height: 100%;

  
}
.quotidien-page
{
  background-color: #ffffff;
  padding: 8% 0 0;
 margin: auto;
   margin-top:30px;
   padding-top: 193px;
   padding-bottom: 20px;
   height: 100%;
 

}
.carnet-vaccination
{

  background-color: #ffffff;
  padding: 8% 0 0;
 margin: auto;
   margin-top:30px;
   padding-top:113px;
   padding-bottom: 20px;
   height: 100%;
 

}
.checklist-page
{

    background-color: #ffffff;
    padding: 8% 0 0;
    margin: auto;
    margin-top: 30px;
   
    padding-bottom: 20px;
    width: 100%;
    padding-right: 3%;
    padding-top: 124px;
	/*width: 360px;
	height: 832px;*/
    
}
.titre3
{
/* Style for "Mes habitu" */
width: 221px;
height: 24px;
color: #009fc2;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
}

.accueil-page
{
  width:100%;
  height: 100%;
background-color:none;
 padding: 8% 0 0;
margin: auto;
  margin-top:30px;
  padding-top:10px;
  padding-bottom: 20px;
}

.form {
  position: relative;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  padding-top: 10%;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;

  background: #f2f2f2;
  opacity: 0.8;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  /* Style for "Surface" */
width: 250px;
height: 56px;
border-radius: 4px;
border: 1px solid #000000;
background-color: rgba(248, 247, 247, 0.91);
  
}

.form button {
  font-family: "Poppins", sans-serif;
    font-weight: bold;
  outline: 0;
  background-image:url("../img/boutonCheck.png") ;
  width: 100%;
  border: 0;
  padding: 15px;
  color:blue;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  float:center;
  border-radius: 21px;

}
.form button:hover,.form button:active,.form button:focus {
  background:#1a1616;
}
.form-quizz {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  margin-bottom: -5%;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.form-quizz button 
{
  font-family: "Poppins", sans-serif;
    font-weight: bold;
  outline: 0;
  padding: 7%;
  margin-top:3%;
  color:white;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  float:center;

  width: 258px;
height: 41px;
border-radius: 13px;
border: 1px solid #009fc2;
background-color: #ffffff;
margin-left: 4%;

}
.form-quizz button:hover,.form-quizz button:active,.form-quizz button:focus 
{
  
  width: 258px;
height: 41px;
border-radius: 13px;
border: 1px solid #009fc2;
background: #009fc2;
}

.check{
  background: url("../img/Check.png") ;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form 
{
  display: none;
}
.checklistform
{
 margin-left: -40%;

}
.checklistprofil
{
 margin-right: -20%;

}


.sante-form
{
   position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  margin-left: -10px;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.sante-form input {
  font-family: "Roboto", sans-serif;
 
  /* Style for "Surface" */
/* Style for "Rectangle" */
/* Style for "Rectangle" */
width: 292px;
height: 32px;
background-color: rgba(13, 13, 13, 0.15);
  
}
.sante-form select {

  /* Style for "Rectangle" */
 font-family: "Roboto", sans-serif;
  outline: 0;
  opacity: 10;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
	width: 292px;
	height: 32px;
	background-color: rgba(13, 13, 13, 0.15);
	border-radius: 4px;
  
}
textarea
{
/* Style for "Rectangle" */
width: 292px;
height: 66px;
background-color: rgba(13, 13, 13, 0.15);
/* Style for "Problèmes" */
font-family: Poppins;
font-size: 12px;
font-weight: 400;	
}
/*---css pour select option Page Ma Santé*/

.form button {
  font-family: "Roboto", sans-serif;
 
    font-weight: bold;
  outline: 0;
  background-image:url("../img/boutonCheck.png") ;
  width: 100%;
  border: 0;
  padding: 15px;
  color:blue;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

}
.form button:hover,.form button:active,.form button:focus {
  background:#1a1616;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
  
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

body
{
/* L'image est positionnée en fond et est centrée */
background: url(../img/accueil.jpg) no-repeat center center fixed;
/* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
header
{
/* L'image est positionnée en fond et est centrée */
background: url(../img/Fondbleu1.png) no-repeat center center fixed;
height:200px;
margin-top:-20px;
margin-left:-25%;
margin-right:-25%;
margin-bottom:-8%;
padding-top:2.5%;
/* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.body
{
	background-color: white;
/* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.icone
{
/* L'image est positionnée en fond et est centrée */
/* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.icone
{
	/* Style for "cardiogram" 
width: 75px;
height: 75px;*/
	
}
.image-profil
{

  /* Style for "Afrique" */
width: 66px;
height: 66px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  margin-top:-7px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #009fc2;
  color: white;
}

.topnav .icon {
  display: none;
}
.entete1
{

  margin-left: 30px;
}
.entete {
 /* padding-top: 20px;
  padding-left: 20px;*/
  overflow: hidden;
  /*background-color:transparent;*/
  margin-top:-7px;
  display: flex;
  flex-direction: wrap;
 justify-content: space-around;
 background:url("../img/Fondbleu.png");
 /* no-repeat center center fixed; */
 /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 width: 100%;
 height: 150px;
     margin-top: -54px;
    padding-top: 32px;
    margin-bottom: -30px;
    padding-bottom: 20px;
    border-radius: 0% 0% 70% 70%;
    position:absolute;
}
.entete .retour
{

  padding-top: 20px;
  padding-left: 20px;  
}
.entete .retour a
{

  box-direction: transparent ;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* css page ma santé*/
.group
{

  margin-top: 5%;
}
.group .sante {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #009FC2;
    border-radius: 30px;
}
.group .text 
{
    display: block;
    text-align: center;
    color: #009FC2;
    font-weight: bold;
    font-size: 14px;
	text-decoration:none;
}
.group a
{
	text-decoration:none;
	
}
.group1 .sante {
 
  align-items: center;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 10px;
  border-color: #009FC2;
 
}
.group1 .text 
{
  width: 133px;
height: 30px;
color: #ffffff;
font-family: Poppins;
font-size: 20px;
font-weight: 700;
}

.title
{
	/* Style for "Mon profil" */

margin-bottom:500px;
/* Style for "Boire et m" */
width: 250px;
height: 45px;
color: #009fc2;
font-family: Poppins;
font-size: 30px;
font-weight: 700;
text-align:center;


}
.titre
{

  /* Style for "Mes vaccin" */
width: 195px;
height: 30px;
color: #009fc2;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
text-align: center;
}
.title3
{
	/* Style for "Mon profil" */

width: 103px;
height: 30px;
color: #009fc2;
font-family: Poppins;
font-size: 20px;
font-weight: 400px;
display: block;
    margin-left: auto;
    margin-right: auto;
   }


.title4
{
	/* Style for "Mon profil" */

width: 103px;
height: 30px;
color: #009fc2;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
text-align:center;

}
.group .description {
    color: #000000;
    font-size: 16px;
    display: block;
    text-align: justify;
    margin-left: 40px;
    margin-right: 30px;
    margin-right: 30px;
	margin-bottom: 30px;
}
.description-quizz
{
/* Style for "Le jour" */
width: 52px;
height: 24px;
color: #000000;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
text-align: center;

}
.description1
{

  /* Style for "Boire et m" */
width: 121px;
height: 22px;
color: #000000;
font-family: Poppins;
font-size: 15px;
font-weight: 400;
text-align: center;
}
.description2
{
  /* Style for "Je mange s" */
width: 266px;
height: 24px;
color: #000000;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
text-align: justify;

}


.question
{
/* Style for "Prévoyez-v" */
width: 286px;
height: 58px;
color: #000000;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
text-align: center;

}
.group .footer {
  display: flex;
  flex-direction: wrap;
 justify-content: space-around;
 align-items: center;
 margin-top:5%;

   /* display: inline;
    background-color: #fff;
    margin-left: 30px;*/
  
}
.monquotidien {
  display: flex;
  flex-direction: column;
 justify-content: space-around;
 align-items: center;

   /* display: inline;
    background-color: #fff;
    margin-left: 30px;*/
  
}

img , .image_toggle{
    vertical-align: middle;
}
.element .image
{
  width: 196px;
height: 105px;
border-radius: 15px;
}
.element img
{
  width: 75px;
height: 75px;
}
.element .imgSuppr
{
  /* Style for "recycling-" */
width: 16px;
height: 16px;
}
select{

  /* Style for "Rectangle" */
 /* Style for "Surface" */
width: 250px;
height: 56px;
border-radius: 4px;
border: 1px solid #000000;
background-color: rgba(248, 247, 247, 0.91);
margin-bottom: 16px;
  
}
.prise
{
	/* Style for "Image 1" */
width: 328px;
height: 75px;
}
/*bouton bleu*/
.btn_blue {
margin-top: 5px;
margin-left: auto;
margin-right: auto;
width: 330px;
height: 41px;
border-radius: 21px;
background-color: #009fc2;
color: #ffffff;
font-family: Poppins;
font-size: 16px;
font-weight: 700;
text-align: center;
line-height: 41px;

}
/*accordion Page baignade */

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
    padding-right: 15px;
    border-radius: 10%;
   
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #009fc2;
}
.blue .carnet-vaccination
{
  text-decoration: none;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.blue .tab-content {
  background: white;
}
.tab-content p 
{
  margin: 1em;
  color:black;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
image_toggle{
    vertical-align: middle;
}
.tab padding
{color: black;
	
}
/*bouton maladie */
.btn-maladie
{
/* Style for "Rectangle" */
width: 336px;
height: 41px;
border-radius: 21px;
background-color: #009fc2;
}
/*bouton page d'acceuil personnalisé*/
.circle {
width: 55px;
height: 55px;
border: 1px solid #009fc2;
background-color: #ffffff;
border-radius: 50%;
}
.nvtextemenu {
position: absolute;
width: fit-content;
height: 30px;
color: #ffffff;
font-family: Poppins;
font-size: 20px;
font-weight: 700;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked 
{
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label 
{
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* Masquer le bouton radio d'origine */
input[type=radio]
{
    display: none;
}
/* Affichage par défaut du bouton radio personnalisé */
input[type=radio] + label:before {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-top: -3px;
    margin-right: 6px;
    display: inline-block;
    content: '';
    width: 17px;
    height: 17px;
}
/* Affichage du bouton radio personnalisé quand il est sélectionné */
input[type=radio]:checked + label:before {
    background: #fb8819;
    border-color: #fb8819;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.form_sejour {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
 
}
/*Ma Checklist */

input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;    height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
    margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #3b89ec;
    border: 1px solid #0e62cd;
    box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}


/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #00e359;
    border: 1px solid rgba(0, 162, 63,1);
    box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px; height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(151, 140, 140, 0.4);
}

#vaccin-form
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  padding-top: 10%;
  /*margin-top: 20%;*/
}

.add-button button {
  background-color: #0e8ada;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #0e8ada;
  font-size: 43px;
  text-align: center;
  float: inline-end;
}

.vaccin-form 
select 
{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* SEJOUR */

.button_confirm{
    margin: 0 auto;
    width: 250px;
    padding-top: 60px;
    height: 100%;
    
}
.yes{
    background-color: #009FC2;
    border: none;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    float: left;
}
.no{
    background-color:  #F6B592;
    border: none;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    float: right;
}

.ignore{
  font-weight: bold;
  font-size: 25px;
  color:#000000;
  margin: 0 auto;
  width: 100px;
  padding-top: 70px;
}

.image-quotidien

{
  /* Style for "globe_nuag" */
width: 137px;
height: 129px;
}
.image-mesdocuments

{
  /* Style for "globe_nuag" */
/* Style for "visa-16238" */
width: 137px;
height: 101px;
border-radius: 11px;
}

/*Side Navigateur */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center ;
  /* Style for "Mon profil" */
width: 164px;
height: 27px;
color: #ffffff;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
}
.sidenav img
{
  display: block;
    margin-left: auto;
    margin-right: auto
  }
  
.sidenav label
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background:url("../img/Fondbleu.png");
  /* no-repeat center center fixed; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.effet
{
font-size:30px;
cursor:pointer;
float: right;

}
.entete .logo
{
margin-left: -70px;
}
.entete .retour
{
margin-right: -70px;

}
.image-auth
{
  width: 75px;
  height: 75px;




}
/*SIDE MENU */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center ;
  /* Style for "Mon profil" */
width: 164px;
height: 27px;
color: #ffffff;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
}
.sidenav img
{
  display: block;
    margin-left: auto;
    margin-right: auto
  }
  
.sidenav label
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
 /* padding-top: 20px;
  padding-left: 20px;*/
  overflow: hidden;
  /*background-color:transparent;*/
  margin-top:-7px;
  display: flex;
  flex-direction: wrap;
 justify-content: space-around;
 background:url("../img/Fondbleu.png");
 /* no-repeat center center fixed; */
 /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 width: 100%;
 height: 150px;
     margin-top: -54px;
    padding-top: 32px;
    margin-bottom: -30px;
    padding-bottom: 20px;
    border-radius: 0% 0% 70% 70%;
    position:absolute;
}
#main .logo
{
  margin-left: -70px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
effet
{
font-size:30px;
cursor:pointer;
float: right;
margin-right: -21%;
}
/*Page paiement */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background-color: #009FC2;
  margin-top: 10%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-paiement
 {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

/* Pricing page */
.pricingdiv
{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  padding-top: 185px;
}
.pricingdiv .theplan
{
background-color: #ddd;

}
.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 260px; /* width of each table */
  margin-right: 20px; /* spacing between tables */
  margin-bottom: 1em;
  border: 1px solid gray;
  transition: all .5s;
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan img{
  max-width: 80%;
  height: auto;
}

.pricingdiv ul.theplan li{
  padding: 10px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.pricingdiv ul.theplan li.title-pricing{
  font-weight: bold;
  text-align: center;
  padding: 30px 10px;
  background: rgb(40, 193, 203);
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  /*text-transform: uppercase;*/
}

.pricingdiv ul.theplan:nth-of-type(2) li.title-pricing{
  background:red;
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title-pricing{
  background:grey;
  color: white;
}

.pricingdiv ul.theplan li b{
  text-transform: uppercase;
}
.pricingdiv ul.theplan li.title-pricing b{
  font-size: 250%;
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: red;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}