html,body
{
    /*height:100%;
    width:100%;
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    top:0*/

    background-image: url("../bg.jpg");
    height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
nav
{
    font-family:"Trebuchet MS",Helvetica,sans-serif;
    color:#000084;
    background-color:#F8F8F8
    
}
body a
{
    text-decoration:underline
}
.nameAlert
{
    font-size:16px;
    text-decoration:none
}
.alert
{
    display:inline-block
}
#nameForm
{
    margin-top:20px
}
#home,#backHome,#nextQuestion,#previousQuestion{
    text-decoration:none;
    font-size:16px
}
.btn
{
    font-size:16px
}
.table
{
    border:1px solid #2980B9
}
.table thead>tr>th{
    border-bottom:none
}
.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td
{
    border:1px solid #000000
}
th
{
    text-align:center
}
.questionNum
{
    text-align:left
}
h1
{
    font-weight:600;
    text-align:center
}
h3
{
    font-weight:600
}
#ajaxloading
{
    font-weight:300;
    margin-bottom:20px
}
#question{font-weight:500}#nameFormWarning,#answerWarning,#placeholderWarning{font-weight:300;color:red}#tenScores{text-align:center}nav a{text-decoration:none;color:#000084}a{color:#0000d3}a:hover{color:#00B7FF}a .cNavbar{color:#000084}a .navbar-brand{color:#000084}a #navbar,a .navbar-nav,a .nav,a .icon-bar,a .navbar-default{color:#000084;background-color:#000084}p,a,li,label{font-size:24px}form label{display:inline-block;float:left}label#ansLabels{float:inherit;font-weight:300}table{border:2px solid black;text-align:center;font-size:20px}tr{padding:10px;border:2px solid black}td{padding-left:10px;padding-right:10px;border:2px solid black}.notice{font-size:16px;color:#1f6300}.error{font-size:18px;color:red}.bodyText{padding-top:70px;height:100%}.container{height:80%}.icon-bar{background-color:#000084}.answerLabel{font-size:18px;font-weight:500;padding-right:10px}.editanswers{width:94%;margin-left:5px;margin-bottom:5px;display:inline}.editQuizAddAns{margin-right:5px}.removeQuestion{margin-left:5px}.btn{margin-bottom:5px}#description{text-align:center;font-weight:300}#reset_quiz{color:white;background:#006666}#revert_quiz{color:white;background:#0099FF}.customNotifications{position:fixed;right:0px;width:50%;top:5%}.customNotifications div{margin-bottom:5px;margin-right:5%;float:right}#homeImg{display:inline;margin-bottom:10px;margin-right:5px}

/*# sourceMappingURL=styles2.css.map */
